Repository ucsb-cs48-w20/4pm-laptops-comparer, pull requests merged in 2020-02, with the labels that each got.

#42 JL - Documenting 2/1/20 meeting
  team/sprint02/team_meeting_02.md
Labels: documentation

#43 TS - added Serverless framework for AWS Lambda
  backend/slsLambda/Pipfile
  backend/slsLambda/README.md
  backend/slsLambda/handler.py
  backend/slsLambda/package-lock.json
  backend/slsLambda/package.json
  backend/slsLambda/serverless.yml
Labels: backend

#47 Create Google OAuth authorizer for backend
  backend/slsLambda/Pipfile
  backend/slsLambda/Pipfile.lock
  backend/slsLambda/authorizer.py
  backend/slsLambda/serverless.yml
Labels: MVP, backend

#49 Restructure backend
  backend/.gitignore
  backend/Pipfile
  backend/Pipfile.lock
  backend/README.md
  backend/authorizer.py
  backend/dynamo_db_test/dynamo_test.py
  backend/dynamo_db_test/dynamo_upload_test.py
  backend/handler.py
  backend/helloworld/mongodb.py
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/slsLambda/README.md
  backend/slsLambda/serverless.yml
Labels: MVP, backend

#51 Store user info in Mongo + GET /workspaces endpoint
  backend/authorizer.py
  backend/handler.py
  backend/serverless.yml
Labels: MVP, backend

#60 JL - Update Pipfiles for serverless
  backend/Pipfile
  backend/Pipfile.lock
Labels: MVP, backend

#81 Refactor backend workspaces endpoints
  backend/postWorkspaces.py
  backend/serverless.yml
  backend/workspace_handler.py
Labels: backend
